#Section1{
    background-color: rgb(238, 0, 90);
}

#Section2{
    background-color: rgb(44, 62, 80);
}

#Section3{
    background-color: rgb(51, 153, 204);
}

.section{
    text-align: center;
    color: white;
}


